    <link href='app/lib/include/css/MenuManager.css?appver=1720869953' rel='stylesheet' type='text/css' media='screen'> 
    <link href='app/lib/include/css/Popup.css?appver=1720869953' rel='stylesheet' type='text/css' media='screen'> 
    <link href='app/lib/include/css/base.css?appver=1720869953' rel='stylesheet' type='text/css' media='screen'> 

    <script src='app/lib/include/js/util.js?appver=1720869953' type='text/javascript'></script>
    <script src='app/lib/include/js/adiantiHelper.js?appver=1720869953' type='text/javascript'></script>
    <script src='app/lib/include/js/MenuManager.js?appver=1720869953' type='text/javascript'></script>
    <script src='app/lib/include/js/base.js?appver=1720869953' type='text/javascript'></script>
    <script src='app/lib/include/js/Popup.js?appver=1720869953' type='text/javascript'></script>
